/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

header{
  margin: 20px 0px;
  border: 2px solid #ffffff;
  padding: 0px 30px;
  background-image: url("../img/lignes-de-code.jpg");
}

header h1{
  font-family: 'montserrat', sans-serif;
  color: white;
  font-weight: 800px;
  margin-top: 50px;
  font-size: 26px;
}

header h1 em{
  font-weight: 100px;
  color: #2afca6;
}

.sous-titre{
  color: white;
  margin: 20px 0px 50px;
  line-height: 22px;
}

body {
  max-width: 320px;
  margin: auto;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400px;
}

main{
  margin: 20px 0px 0px;
}

img{
  width: 262px;
}

button {
  margin: 0px 0px 16px;
  background-color: black;
  border-style: none;
  padding: 6px 15px;
}

button a {
  color: white;
  padding: 6px 15px;
  font-size: 10px;
  font-weight: bold;
  font-family: 'montserrat', sans-serif;
  text-decoration: none;
}

em{
  color: #2afca6;
}

div {
background-color: #2afca6;
padding: 34px 29px;
}

.introduction{
  background-color: #2afca6;
  padding: 15px 29px;
}

.introduction h2{
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  font-weight: 800;
}

.introduction p{
  margin: 20px 0px 31px;
  line-height: 22px;
}

article{
  background-color: white;
  padding: 15px 29px;
  margin-top: 20px;
}

article h1{
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  font-weight: 800;
}

article h2{
  font-size: 17px;
}

.article-page{
  padding-top: 30px;
}

.article-meta{
  font-size: 12px;
  margin-top: 20px;
  color: #a0a0a0;
}

.auteur{
  color: #2afca6;
}

.date{
  color: black;
}

.article-text{
  font-size: 16px;
 line-height: 22px;
}

figure{
  margin: 0px 0px 32px;
  box-shadow: lightgray 0 0 10px 1px;
}

figcaption {
  font-size: 12px;
  margin: 5px 10px;
  height: 40px;
}

footer{
  margin-top: 20px;
  height: 45px;
  border: 2px solid #2afca6;
  text-align: center;
  color: white;
}

footer p{
  color: white;
  text-align: center;
  font-size: 10px;
  margin-top: 15px;
}